@charset "UTF-8";


@media screen and (min-width:750px) and (max-width:990px)
{
    section{
        
        background-color: rgba(180, 180, 245, 0.274);
    }
    section#login {
    
        width: 90vw;
    }

    section#login > div#imagem{
        float: left;
        width: 35%;
        height: 100%;
        background-position: right top;
        background-size: cover;
    }

    section#login > div#formulario{
        float: right;
        width: 65%;
        background-color: rgba(180, 180, 245, 0);

    }

    h1{
        font-size: 2em;
    }

    p{
        font-size: 1.2em;
        text-indent: 10px;
        text-align: center;
        min-width: 230px;
        display: block;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        text-shadow: 1px 3px  4px rgba(0, 0, 0, 0.329);
        color: rgb(0, 0, 39);
    
    }




}

/*Telas grandes*/

@media screen and (min-width:990px){
    section#login {
        width: 900px;
    }


    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;

        background-position: center bottom;
        background-size: cover;

    }

    section#login > div#formulario{
        float: right;
        width: 50%;
        background-color: rgba(180, 180, 245, 0);
    }

    section{
        
        background-color: rgba(180, 180, 245, 0.274);
    }

    h1{
        font-size: 2.3em;
        color: black;
    }

    p{
        font-size: 1.3em;
        text-indent: 10px;
        text-align: center;
        min-width: 230px;
        display: block;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        text-shadow: 1px 3px  4px rgba(0, 0, 0, 0.329);
        color: black;
    
    }

    

}