@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    background: url(../imagens/desenho-canto.jpg);
    background-size: cover;
    display: block;
    width: 95vw;
    height: 95vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



main{
position: relative;
width: 100vw;
height: 100vh;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);


    background-color: rgb(180, 180, 245);
    width: 350px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);

}

section#login >  div#imagem{
    background: rgb(175, 175, 255) url(../imagens/mosaico-azul.jpg) no-repeat;
    height: 200px;

    background-size: cover;
    background-position: center bottom;
    display: block;
}

section#login > div#formulario{

    background-color: rgb(180, 180, 245);
    padding: 10px;
    min-width: 240px;
    max-width: 1200px;
    margin: auto;
    display: block;

}

h1{
    text-align: center;
}

p{
    text-indent: 20px;
    text-align: center;
}